.container {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
}

.container > div {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

span {
  flex: 1;
  height: 2px;
  background-color: white;
}

.container > div.selected {
  color: black;
  background-color: yellow;
}

@media screen and (max-width: 700px) {
  .container {
    width: 200px;
  }

  .container > div {
    width: 24px;
    height: 24px;
  }
}
